@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css */
:root {
  --purple-color: #a729f5;
  --dark-navy-color: #313e51;
  --navy-color: #3b4d66;
  --gray-navy-color: #626c7f;
  --light-bluish-color: #abc1e1;
  --light-grey-color: #f4f6fa;
  --prue-white-color: #ffffff;
  --green-color: #26d782;
  --red-color: #ee5454;
  --main-font-family: "Rubik", Arial, Helvetica, sans-serif;

  --body-bg-image: url("../assets/pattern-background-desktop-light.svg");
  --body-bg-image-tablet: url("../assets/pattern-background-tablet-light.svg");
  --body-bg-image-mobile: url("../assets/pattern-background-mobile-light.svg");

  --sun-icon: url("../assets/icon-moon-dark.svg");
  --moon-icon: url("../assets/icon-sun-dark.svg");
}

.dark-mode {
  --light-grey-color: #313e51;
  --dark-naviy-color: #ffffff;
  --gray-navy-color: #abc1e1;
  --dark-navy-color: #ffffff;
  --prue-white-color: #3b4d66;

  --body-bg-image: url("./assets/pattern-background-desktop-dark.svg");
  --body-bg-image: url("../assets/pattern-background-desktop-dark.svg");
  --body-bg-image-tablet: url("../assets/pattern-background-tablet-dark.svg");
  --body-bg-image-mobile: url("../assets/pattern-background-mobile-dark.svg");

  --sun-icon: url("../assets/icon-moon-light.svg");
  --moon-icon: url("../assets/icon-sun-light.svg");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

*:focus {
  outline: 2px dotted var(--purple-color);
  outline-offset: 3px;
}

img {
  display: flex;
  object-fit: cover;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

body {
  min-height: 100vh;
  font-family: var(--main-font-family);
  font-weight: 500;
  background-image: var(--body-bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--light-grey-color);
  color: var(--dark-navy-color);
}

.big-text {
  font-weight: 500;
  font-size: 144px;
  line-height: 1;
}

h1 {
  font-size: 64px;
  line-height: 1;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
}

p {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
  border: 0;
  background-color: var(--purple-color);
  color: var(--prue-white-color);
  border-radius: 24px;
  padding: 32px 0;
  font-size: 28px;
  line-height: 1;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
}

body.dark-mode .btn {
  color: var(--dark-naviy-color);
}

.btn:hover {
  background-color: rgba(167, 41, 245, 0.5);
}


.header {
  padding-top: 65px;
  margin-bottom: 85px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.dark-btn {
  display: flex;
  gap: 16px;
  cursor: pointer;
  align-items: center;
}

.dark-btn::before,
.dark-btn::after {
  display: inline-block;
  content: "";
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.dark-btn::after {
  background-image: var(--sun-icon);
}

.dark-btn::before {
  background-image: var(--moon-icon);
}

header input {
  display: none;
}

.dark-btn > span {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 999px;
  background-color: var(--purple-color);
}

.dark-btn > span span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}
.dark-btn > span span:last-child {
  visibility: hidden;
}
.dark-btn > span span:first-child {
  transition: transform 0.3s ease;
}

header input:checked + span span:first-child {
  transform: translateX(100%);
}





.input-label-dark{
  background-color: var(--dark-navy-color);
  color: var(--prue-white-color);
}








